[submodule "hermit"]
	path = hermit
	url = https://github.com/rrnewton/hermit.git
[submodule "reverie"]
	path = reverie
	url = https://github.com/rrnewton/reverie.git
[submodule "liteinst2"]
	path = liteinst2
	url = https://github.com/rrnewton/liteinst2.git
