OWNER=rrnewton
REPO_NAME=reverie
RUNNER_LABELS=self-hosted,linux,x64,reverie,pmu
RUNNER_NAME=reverie-ci-newton

RUNNER_VERSION=2.335.1
RUNNER_ARCH=x64
IMAGE_TAG=hermit-ci-runner:2.335.1

RUNNER_CPUS=8
RUNNER_MEMORY=16g
CONTAINER_NAME=reverie-ci-runner
CONTAINER_ENGINE=./podman-root.sh

CONTAINER_EXTRA_ARGS="--network=host --privileged"
